# {{ network.ext.bridge_name }} is the bridge NIC and can be used like any other normal NIC.
# {{ network.ext.bridge_name }} is configured using static network information.
auto {{ network.ext.bridge_name }}
iface {{ network.ext.bridge_name }} inet manual
    up ip link set $IFACE up
    down ip link set $IFACE down
    bridge_ports {{ network.ext.bond_name }}
    bridge_stp off
    bridge_fd 0
    bridge_maxwait 0
