DEVICE=mgmt
NETWORKDEV=mgmt
IPADDR={{ ansible_default_ipv4.address }}
NETMASK={{ netmask }}
GATEWAY={{ gateway }}
ONBOOT=yes
BOOTPROTO=none
USERCTL=no
DNS2="8.8.4.4"
DNS1="8.8.8.8"
USERCTL=no
BONDING_OPTS="mode=active-backup miimon=100 downdelay=200 updelay=200"
NM_CONTROLLED=no
