# /etc/network/interfaces

# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

{% for item in networking %}
source /etc/network/interfaces.d/{{ item.name }}.cfg
{% endfor %}