{% raw %}glance_default_store: swift
glance_notification_driver: noop
glance_swift_store_auth_address: '{{ keystone_service_internalurl }}'
glance_swift_store_container: glance_images
glance_swift_store_endpoint_type: internalURL
glance_swift_store_key: '{{ glance_service_password }}'
glance_swift_store_region: RegionOne
glance_swift_store_user: 'service:glance'
tempest_public_subnet_cidr: '172.29.248.0/22'
{% endraw %}
