---
- name: Authorize SSH keys
  tags: keys
  authorized_key: >
    key="{{lookup('file', item|basename)}}"
    user=root
    state=present
  with_fileglob: id_*.pub

- name: Copy SSH keys
  tags: keys
  copy: >
    src={{item|basename}}
    dest=~/.ssh/{{item|basename}}
    mode=0600
  with_fileglob: id_*

- name: Updating packages
  tags: packages
  apt: update_cache=yes upgrade=dist

- name: Install packages
  tags: packages
  apt: pkg=bridge-utils,git,python,python-dev,python-pip state=present

- name: Source interfaces.d configs
  tags: network
  lineinfile: >
    dest=/etc/network/interfaces
    regexp="^source"
    insertafter=EOF
    line="source /etc/network/interfaces.d/*.cfg"

- name: Add interfaces.d configs
  tags: network
  template: >
    src=interface.cfg
    dest=/etc/network/interfaces.d/{{item.name}}.cfg
  with_items:
    - name: "{{iface.tunnel_name}}"
      type: manual
      directives:
        - "pre-up ip link add $IFACE type vxlan id {{iface.tunnel_id}} group 239.0.0.{{iface.tunnel_id}} dev {{iface.tunnel_dev}} || true"
        - "up ip link set $IFACE up"
        - "down ip link set $IFACE down"
        - "post-down ip link del $IFACE || true"
    - name: br-mgmt
      type: static
      directives:
        - "address {{iface.tunnel_ip}}"
        - "bridge_ports {{iface.tunnel_name}}"
    - name: br-vmnet
      type: manual
      directives:
        - "bridge_ports none"
        - "up ip link set $IFACE up"
        - "down ip link set $IFACE down"
    - name: br-ext
      type: manual
      directives:
        - "bridge_ports none"
        - "up ip link set $IFACE up"
        - "down ip link set $IFACE down"

- name: Create swap drive
  tags: swap
  command: mkswap /dev/xvde1

- name: Add swap drive to /etc/fstab
  tags: swap
  lineinfile: >
    dest=/etc/fstab
    regexp="^/dev/xvde1" line="/dev/xvde1 none swap sw 0 0" state=present

- name: Enable swap
  tags: swap
  command: swapon /dev/xvde1
