---

# Generic task w/ all lab prefixes to skip missing tags
# https://github.com/ansible/ansible/pull/9418
- hosts: all
  user: root
  gather_facts: no
  tags:
    - nightly
    - commit
    - release
  tasks:
    - name: Ping hosts
      ping:

## --------- [ Prepare Cluster ] ---------------
- hosts: all
  user: root
  gather_facts: no
  tags:
    - prepare
  roles:
    - packages

- hosts: all
  user: root
  gather_facts: no
  tags:
    - prepare
  roles:
    - pip

- hosts: all
  user: root
  gather_facts: yes
  tags:
    - prepare
  roles:
    - networking

- hosts: all
  user: root
  gather_facts: yes
  tags:
    - nightly
  roles:
    - volumes

- hosts: swift
  user: root
  gather_facts: yes
  tags:
    - nightly
    - commit
  roles:
    - configure-swift-lvs

- hosts: infrastructure[0]
  user: root
  gather_facts: no
  tags:
    - prepare
  roles:
    - setup-git

- hosts: infrastructure[0]
  user: root
  gather_facts: no
  tags:
    - os-ansible-deployment
    - prepare
  roles:
    - role: run-script-from-os-ansible-deployment
      script_name: bootstrap-ansible

- hosts: infrastructure[0]
  user: root
  gather_facts: no
  tags:
    - prepare
  roles:
    - configure-compute
    - configure-storage

- hosts: infrastructure[0]
  user: root
  gather_facts: no
  tags:
    - rpc-openstack
  roles:
    - configure-rpc

- hosts: all
  user: root
  gather_facts: no
  tags:
    - reboot
    - prepare
  roles:
    - reboot

## ---------- [ Upgrade ] ------------
- hosts: infrastructure[0]
  user: root
  gather_facts: no
  tags:
    - upgrade
  roles:
    - setup-git

## --------- [ Cleanup Cluster ] ------------------
- hosts: all
  user: root
  tags:
    - cleanup
    - rekick
  gather_facts: no
  roles:
    - teardown-containers

- hosts: compute
  user: root
  tags:
    - cleanup
    - rekick
  gather_facts: no
  roles:
    - teardown-compute-node

- hosts: swift
  user: root
  tags:
    - cleanup
    - rekick
  gather_facts: no
  roles:
    - teardown-swift-node

- hosts: all
  user: root
  tags:
    - cleanup
    - rekick
  gather_facts: no
  roles:
    - cleanup-host

## --------- [ Rekick Cluster ] ------------------
- hosts: cinder
  gather_facts: no
  user: root
  tags:
    - cleanup
    - rekick
  roles:
    - cleanup-cinder-volumes

- hosts: all
  gather_facts: no
  user: root
  tags:
    - rekick
  roles:
    - razor-rekick
