---

## --------- [ Prepare Cluster ] ---------------

- hosts: all
  user: root
  tags: prepare
  vars_files:
    - vars/packages.yml
  roles:
    - packages

- hosts: all
  user: root
  tags: prepare
  vars_files:
    - vars/pip.yml
  roles:
    - pip

- hosts: all
  user: root
  tags: prepare
  roles:
    - networking
    - volumes

- hosts: infrastructure[0]
  user: root
  tags: prepare
  roles:
    - setup-git

- hosts: infrastructure[0]
  user: root
  tags: configure
  roles:
    - configure-rpc-compute

- hosts: all
  user: root
  tags: reboot
  roles:
    - reboot

## --------- [ Run os-ansible-deployment ] ----------
- hosts: infrastructure[0]
  tags: run
  roles:
    - role: run-script-from-os-ansible-deployment
      script_name: run-playbooks
      script_env:
        DEPLOY_TEMPEST: "yes"

## --------- [ Test with tempest ] ---------------
- hosts: infrastructure[0]
  tags: test
  roles:
    - role: run-script-from-os-ansible-deployment
      script_name: run-tempest

## --------- [ Rekick Cluster ] ------------------
- hosts: cinder
  gather_facts: no
  user: root
  tags: cleanup
  roles:
    - cleanup-cinder

- hosts: all
  gather_facts: no
  user: root
  tags: rekick
  roles:
    - razor-rekick
